.Container {
  position: relative;
  height: 100vh;
  width: 100%;
}
.views_container{
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  right: 10px;
  top: 10px;
}
.ThemeButton, .SatteliteButton{
  z-index: 1000;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0.625em ;
  border: none;
  outline: none;
  font-size: 1.5em;
  background-color: #ffffff;

}
.ThemeButton, .SatteliteButton :hover{
  transition:0.1
}


.LightMode {
  background-color: #ffffff;
}

.DarkMode{
  background-color: #000000b3;
  color: white;
}





.cluster-icon{
  background-color: navy;
  border-radius: 50%;
  color:white;
  padding:5px;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height:60px; 
  font-size: 20px; 
  border: none;
  outline:none;
  position: absolute;
  top: -10px;
  left: -10px;
}

